{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!
{% endblock %}

{% block body %}
	

	<div class="hero-wrap hero-bread" style="background-image: url('/assets/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
            <h1 class="mb-0 bread">Checkout</h1>
          </div>
        </div>
      </div>
    </div>
	{{form_start(form)}}
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10 ftco-animate">
							<h3 class="mb-4 billing-heading">Billing Details</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	{{ form_row(form.prenom) }}
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	{{ form_row(form.nom) }}
	                </div>
                </div>
                <div class="w-100"></div>
		            <div class="col-md-12">
		            	<div class="form-group">
		            		<label for="country">State / Country</label>
		            		<div class="select-wrap">
		                 
		                  <select name="" id="" class="form-control">
		                  	<option value="">France</option>
		                    
		                  </select>
		                </div>
		            	</div>
		            </div>
		            <div class="w-100"></div>
		  <div class="col-md-6">
    <div class="form-group">
        <label for="streetaddress">Stree</label>
        <!-- Ajout de l'ID pour cibler le champ avec le JS -->
        <input id="address" type="text" class="form-control" placeholder="House number and street name" autocomplete="off">
        <!-- Ajout de la boîte pour les suggestions d'adresses -->
        <div id="addressSuggestions"></div>
    </div>
</div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                  <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	
		            </div>
		            <div class="col-md-6">
		            	
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
	                <div class="form-group">
	                	<label for="phone">Phone</label>
	                  <input type="text" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="emailaddress">Email Address</label>
	                  <input type="text" class="form-control" placeholder="">
	                </div>
                </div>
                <div class="w-100"></div>
                  {{ form_row(form.passer) }}
	            </div>
	        </div>  
			</section>
			 
			  
	{{form_end(form)}}
	
	{% endblock %}

{% block script %}
  

   

{% endblock %}